@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>ChatBot Messages</h2>

    <div class="block">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEFF6tCXWJuWRLxP0Ovu785xFo3oiw_kKf0ZRJCIGH0jbIFvo1" alt="Avatar" style="width:100%;">
        <p>Hello. How are you today?</p>
        <span class="time-right">11:00</span>
    </div>

    <div class="block darker">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEFF6tCXWJuWRLxP0Ovu785xFo3oiw_kKf0ZRJCIGH0jbIFvo1" alt="Avatar" class="right" style="width:100%;">
        <p>Hey! I'm fine. Thanks for asking!</p>
        <span class="time-left">11:01</span>
    </div>

    <div class="block">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEFF6tCXWJuWRLxP0Ovu785xFo3oiw_kKf0ZRJCIGH0jbIFvo1" alt="Avatar" style="width:100%;">
        <p>Sweet! So, what do you wanna do today?</p>
        <span class="time-right">11:02</span>
    </div>

    <div class="block darker">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEFF6tCXWJuWRLxP0Ovu785xFo3oiw_kKf0ZRJCIGH0jbIFvo1" alt="Avatar" style="width:100%;">
        <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
        <span class="time-left">11:05</span>
    </div>

    <div>
        <input type="text" placeholder="Ingresar text..." />
        <input type="button" value="Ingresar" />
    </div>
</div>